<div class="member-body">

    <!-- 左侧导航栏-->
    <div class="member-left-menu" id="member-left-menu">
    </div>

    <!-- 内容信息 -->
    <div class="member-body-content">
        <div class="member-body-top">
            <div class="member-body-top-title">角色管理</div>
            <div class="member-body-top-content">
                <div class="content_list" >
                    <label>帐号：</label>
                    <input type="text" encode="1" class="input_text" name="login_name" id="login_name">
                    <label>姓名：</label>
                    <input type="text" encode="1" class="input_text" name="real_name" id="real_name">
                    <button id="query" class="button">查询</button>
                </div>

                <div class="right">
                    <button id="addusers" class="btn btn_orange">添加用户</button>
                </div>
            </div>
        </div>

        <!--内容-->
        <div class="role_content">
            <table class="table_list" id="table_my_toast"></table>
            <!-- 分页框 -->
            <div class="page_control" id="paging_my_toast"><ul></ul></div>
        </div>



    </div>


</div>




<link rel="stylesheet" href="/stylesheets/admin/setup/personal.css" />
<script src="/javascripts/admin/setup/personal/personal.js"></script>

<link rel="stylesheet" href="/javascripts/bootstrap-switch-master/bootstrap-switch.css" />
<script src="/javascripts/bootstrap-switch-master/bootstrap-switch.js"></script>
<script src="/javascripts/bootstrap-switch-master/bootstrap.js"></script>



