<div class="containers member-body">

    <!-- 左侧导航栏-->

    <div class="member-left-menu" id="member-left-menu">
    </div>

    <!-- 内容信息 -->


    <div class="member-body-content">

        <div class="member-body-top">
            <div class="member-body-top-title">个人设置</div>
            <div class="member-body-top-content">
                <button id="changepwd" class="btn btn_orange">修改密码</button>
            </div>

        </div>

        <!--内容-->
        <div class="role_content">
            <table class="table_simple" id="table_my_simple" ></table>
        </div>


    </div>

</div>



<link rel="stylesheet" href="/stylesheets/admin/setup/role.css" />
<script src="/javascripts/admin/setup/role/role.js"  ></script>