<script src="/javascripts/admin/article/index.js"></script>
<div>
    <div id="top_content">
        <label>文章标题：</label> <input id="title" name="title" type="text" placeholder="文章标题" />
        <label>文章类型：</label>
        <select id="info_category_id" name="info_category_id">
            <option value="">全部</option>
            <option value="0">新闻</option>
            <option value="1">财经</option>
            <option value="2">阳光私募</option>
            <option value="3">信托资管</option>
        </select>
        <label>状态：</label>
        <select id="passed" name="passed">
            <option value="">全部</option>
            <option value="0">审核未通过</option>
            <option value="1">上架</option>
            <option value="2">用户已删除</option>
        </select>
        <button type="button" id="search" name="search">查询</button>
    </div>
    <div id="table_content">
        <table class="table_list" id="table" > </table>
        <!-- 分页框 -->
        <div class="page_control" id="page"><ul></ul></div>
    </div>
    <div id="verify" style="display: none;">
        <label>原因：</label><textarea id="error_msg" name="error_msg" placeholder="请输入审核结果的原因"> </textarea>
        <div>
            <button type="button" id="success" >通过</button>
            <button type="button" id="failed" >不通过</button>
        </div>
    </div>
</div>