<!--<div class="member-body">-->

    <!-- 左侧导航栏-->

    <!--<div class="member-left-menu" id="member-left-menu">-->
    <!--</div>-->

    <!-- 内容信息 -->

    <div class="member-body-content">


            <div class="member-body-top">
                <div class="member-body-top-title">常见问题</div>
                <div class="member-body-top-content">
                    <button id="release" class="btn btn_orange">发布信息</button>
                </div>

            </div>

            <!--内容-->
            <div class="role_content">
                <table class="table_simple" id="table_my_simple" ></table>

                <!-- 分页框 -->
                <div class="page_control" id="paging_my_toast"><ul></ul></div>
            </div>

    </div>

<!--</div>-->


<link rel="stylesheet" href="/stylesheets/admin/daity/announcement.css" />



<script src="/javascripts/admin/daity/staticfile/staticfile.js"  ></script>
<script src="/javascripts/common/admingrid.js"  ></script>
<script src="/javascripts/common/select_grid.js"  ></script>