.menu_list_ul{
    margin-left: 40px;
}
.menu_list_ul li{
     list-style: none;
 }
.menu_list_ul li ul{
    margin-left: 40px;
}
.menu_list_ul li ul li{
    list-style: none;
    height: 30px;
    line-height: 30px;
}