
.switch1,.switch2{
    width: 60px;
    border: 1px solid #797979;
}
.switchup .switch1{
    background:#16B400;
    color: #fff;
}
.switchup .switch2{
     background:#fff;
    color: #fff;
 }
.switchset .switch1{
    background:#fff;
    color: #fff;
}
.switchset .switch2{
    background:#5d5f5c;
    color:#5d5f5c;
}
.table_list{
    border: 1px solid #797979;
}
.right{
    margin-right: 2%;
    text-align: right;
}
.space{
    width: 100%;
    height: 20px;
}
.button{
    padding: 4px 12px;
    background: #ffffff;
    border: 1px solid #8e8e8e;
    border-radius: 4px;
}
.input_text{
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #8e8e8e;
}


