<link href="/stylesheets/admin/main/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="/javascripts/jquery-1.11.3.min.js"></script>
<body style="background:#fff3e1;">
    <div class="lefttop"><span></span><%=auth_name%></div>
    <dl class="leftmenu" id="member-left-menu">

    </dl>
</body>
<script>
    var parent_auth_id = "<%=auth_id%>";
</script>
<script language="JavaScript" src="/javascripts/admin/main/left.js"></script>