

    <div class="msg_box_content">

        <div class="fork"><img src="<%= common_info.img_prefix %>/images/admin/login/close.png"> </div>

        <!--添加用户-->

        <div class="layer_title">配置权限组</div>
        <form class="form-horizontal" error_type="right" action="/configRoleAuthAdmin" role="form" name="eidt_form" id="eidt_form">
            <!-- 信息总揽 -->
            <div class="form_view">
                <input type="hidden" id="role_id" name="role_id">
                <input type="hidden" id="adminRoleAuth" name="adminRoleAuth">
                <table  >
                    <tr>
                        <td colspan="2" class="td_content">
                            <div class="perms_list" id="perms_list"></div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" class="td_content_center" >
                            <p class="form-error-bottom display_none"></p>
                            <button type="button" class="btn_save width1">保存</button><button type="button" class="btn_cancel width1 margin-left20">取消</button>
                        </td>
                    </tr>
                </table>
            </div>

        </form>
    </div>
    <%- include ../../popbox.ejs %>


<script src="/javascripts/admin/setup/permissions/configuration.js"  ></script>
<link rel="stylesheet" href="/stylesheets/admin/setup/configuration.css" />


