
<div class="msg_box_content">

        <div class="fork"><img src="<%= common_info.img_prefix %>/images/admin/login/close.png"> </div>

        <!--修改公告-->

    <div class="layer_title">删除公告</div>
    <form class="form-horizontal" error_type="right" action="/deleteAnnouncement" role="form" name="add_form" id="add_form">
        <!-- 信息总揽 -->
        <div class="form_view">
            <input type="hidden"  name="infoAnnouncementId" id="infoAnnouncementId">
            <table  >
                <tr>
                    <td colspan="2" class="td_content_center" >确定要删除吗？
                    </td>
                </tr>

                <tr>
                    <td colspan="2" class="td_content_center" >
                        <p class="form-error-bottom display_none"></p>
                        <button type="button" class="btn_submits width2">提交</button><button type="button" class="btn_cancel margin-left20 width2">取消</button>
                    </td>
                </tr>
            </table>
        </div>

    </form>
    </div>

    <%- include ../popbox.ejs %>


    <script src="/javascripts/admin/daity/announcement/delete.js"  ></script>

