/*

全局通用的css

*/

body {
    margin: 0px;
    padding: 0px;

    font-family: "Microsoft YaHei";
}

.container-fluid {
    padding: 0px;
    margin: 0px;

}

.containers{
    min-width: 960px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

a {
    text-decoration: none;
}

.width_full {
    width: 100%;
}
.text-center {
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right {
    text-align: right;
}

.table {
    width: 100%;
    max-width: 100%;

}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 0px;
    vertical-align: top;
    border-top: 0px solid #ddd;
}

/*

 表格 列表

*/
.table_simple {
    border: 1px solid #d4d9dc;
    border-collapse: collapse;
    position: relative;
    width: 100%;
    margin-top: 20px;
    word-break: break-all;
    white-space: nowrap;

}
.table_simple .tr_rack{
    background-color: #ffffcc;
}

.table_simple thead tr td,th {
    border: 1px solid #d4d9dc;
    background-color: #fff2df;
    font-size: 15px;
    text-align: center;
    line-height: 34px;
    color: #000000;
    word-break: break-all;
    white-space: nowrap;
    background: url(/images/admin/main/images/th.gif) repeat-x;
}

.table_simple tbody tr td {
    border: 1px solid #d4d9dc;
    text-align: center;
    height: 37px;
    line-height: 37px;
    font-size: 13px;
    color: #6b6b6b;
    word-break: break-all;
    white-space: nowrap;
}
.table_simple tbody tr td .status_success {

    color: #6b6b6b;
}
.table_simple tbody tr td .status_processing {

    color: #009900;
}
.table_simple tbody tr td .status_failed {

    color: #cc0000;
}


.table_list {
    border: 1px solid #d4d9dc;
    border-collapse: collapse;
    position: relative;
    width: 100%;
    margin-top: 20px;
    word-break: break-all;
    white-space: nowrap;
}
.table_list img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
.table_list .tr_rack{
    background-color: #ffffcc;
}
.table_list thead tr td,th {
    border: 1px solid #d4d9dc;
    background-color: #fff2df;
    font-size: 15px;
    text-align: center;
    line-height: 34px;
    color: #000000;
    padding: 0px 2px;
    background: url(/images/admin/main/images/th.gif) repeat-x;
}

.table_list tbody tr td {
    border: 1px solid #d4d9dc;
    text-align: center;
    height: 37px;
    line-height: 37px;
    font-size: 13px;
    color: #6b6b6b;
    padding: 2px;
}
.table_list tbody tr td .status_success {

    color: #6b6b6b;
}
.table_list tbody tr td .status_processing {

    color: #009900;
}
.table_list tbody tr td .status_failed {

    color: #cc0000;
}

/* 分页 */

.page_control {

    width: 100%;
    text-align: right;
    margin-top: 10px;
    height: 29px;
}

.page_control ul {


    height: 29px;
    margin-right: 0px;
    float: right;
}

.page_control li {
    float: left;
    list-style: none;
    cursor:pointer;

}




.page_control  .prepage {

    font-size: 14px;
    margin-right: 5px;
    line-height: 21px;
    width: 45px;
}

.page_control  .nextpage {

    font-size: 14px;
    margin-left: 5px;
    line-height: 21px;
    width: 45px;
}

.page_control  .li_num {

    text-align: center;
    line-height: 21px;
    color: #000000;
    font-size: 14px;
    /*width: 21px;*/

    width: 21px;

}

.page_control  .li_num3 {

    text-align: center;
    line-height: 21px;
    color: #000000;
    font-size: 14px;
    /*width: 21px;*/

    width: 30px;

}


.page_control  .selected {

    color: #990000;

}



.page_control li a {
    color: #000000;
}

.page_control li a :hover {
    color: #990000;
}

.red {
    color: #ff0000;
}

/* 亏损 */
.loss {
    color: #007e00;
}

.gain {
    color: #fd0000 ;
}

.form-group {
    text-align: left;
    margin-top: 8px;
    margin-bottom: 0px;

}

.hidden {
    visibility: hidden;
}

.no-line-height {
    line-height: 0px;
}

/* 设置提示文字颜色 */
.-webkit-input-placeholder {
    color: #838383;
}
.-moz-placeholder {
    color: #838383;
}
.placeholder {
    color: #ccc;
}

/* account body*/
.account_body {
    width: 796px;
    border: 1px solid #e4e4e4;
    margin: auto;
    margin-top: 26px;
    padding-bottom: 20px;
}


.account_body .label_title {

    font-size: 22px;
    color: #333333;
    margin-left: 36px;
    margin-top: 50px;


}

.form-group label {
    font-size: 13px;
    color: #333333;
    line-height: 40px;
    height:40px;
}

.form-group select {
    font-size: 13px;
    color: #333333;
    height: 40px;

}

.form-group input {
    border: 1px solid #c9c9c9; /* f2f2f2 */
    width: 221px;
    height: 32px;
    font-size: 13px;
    line-height: 32px;
}

/*  提示框 */

.msgbox  {

    width: 100%;
    min-height: 127px;
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;

}

.msgbox  .msg_title {
    text-align: center;
    color: #ff6600;
    font-size: 17px;
    line-height: 37px;

}

.msgbox  .msg_content {
    text-align: left;

    color: #818181;

    font-size: 14px;

    width: 736px;

    margin: auto;

    line-height: 23px;

    margin-top: 6px;

    padding-bottom: 20px;
}


.msgbox-error {

    border: 2px solid #cc0000 ;
    background-color: #ffffff;
}

.msgbox-error  .msg_title {

    color: #ff6600;
}

.msgbox-error  .msg_content {

    color: #818181;
}

.msgbox-success {

    border: 2px solid #b3c4e0 ;
    background-color: #f3fbff;

}

.msgbox-success  .msg_title {

    color: #ff6103;
}

.msgbox-success  .msg_content {

    color: #ff6103;
}

/*  tab 切换 */

.tabmenu {

    width: 100%;
    height: 36px;
    background-color:#f4f4f4;
    -webkit-padding-start: 0px;
    border-bottom: 1px solid #eaeaea;
    margin: 0px;
}

.tabmenu li {

    float: left;
    height: 36px;
    line-height: 36px;
    color: #322e2b;
    font-size: 13px ;
    text-align: center;
    width: 96px;
    border-right: 1px solid #eaeaea;
    border-top: 2px solid #f4f4f4 ;

}

.tabmenu  .selected {

    background-color: #ffffff;
    border-top: 2px solid #fe2f00;
    border-bottom: 0px;
}

.tabmenu  li a {

    color: #322e2b;
}

a img {
    border: 0px;
}


/* 表单提示 */

.form-error-bottom {

    background: #FFEBEC;
    border: 1px solid #FFBDBF;
    color: #E6393D;
    line-height: 22px;
    padding: 2px 0 2px 3px;
    width: 180px;
    text-indent: 10px;
    font-size: 12px;
    text-align: center;
}


.display_none {
    display: none;
}

form .error_msg {

    /* background: #FFEBEC; */
    border: 0px solid #FFBDBF;
    color: #E6393D;
    line-height: 22px;
    padding: 5px 0 5px 3px;
    width: 200px;
    text-indent: 10px;
    font-size: 14px;
}

form .error_border {

    border: 1px solid #E6393D;
    border-color: #E6393D;
}


form .btn-resendCaptcha {
    background-color: #cc3300;
    border: 0px;
    width: 93px;
    margin-left: 28px;
    height: 32px;
    border-radius: 3px;
    color: #ffffff;
    line-height: 32px;
}


form .btn-resendCaptcha_disable {

    background-color: #e4e4e4;
    color: #787878;
}



.member-body-content .msg_title {

    margin-top: 10px;
    text-align: center;
    font-size: 19px;
    line-height: 23px;
    color: #333333;
}
.member-body-content .msg_date {



    text-align: center;
    font-size: 12px;
    line-height: 18px;
    color: #bababa;
}
.member-body-content .dash_line {
    border: 1px dashed #e4e4e4;
    margin-top: 22px;
}

.member-body-content .msg_content {

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 16px;
    margin-bottom: 16px;

}

.html_content {

    font-size: 14px;
    line-height: 21px;
    color: #363636;
    text-align: left;
}
.tr_bgcolor{
    background: #fff8ed;
}


#li_input{
    padding: 0px;
    width: 30px;
    height: 22px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
}
#btn_li{
    width: 30px;
    height: 22px;
    border: 1px solid #e1e1e1;
    background: #FFF;
    border-radius: 2px;
}

.green {
    color: green;
}




